.insertLink {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  padding: 10px 20%;
}

.insertLink__info {
  width: auto;
  text-align: center;
  color: white;
}

.insertLink__input {
  display: flex;
  width: 90%;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;

  /*for the background pattern*/
  --stripe: #cfd8dc;
  --bg: #e1e1e1;

  background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--stripe);
}

.insertLink__input > input {
  width: 100%;
  height: 35px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.insertLink__input > Button {
  height: 38px;
  width: 100px;
  font-weight: 800;
  font-size: 16px;
  background-color: orange;
  border-radius: 5px;
  border: 1px solid lightgrey;
  cursor: pointer;
}
